*{
    margin: 0px;
    padding: 0px;
}

.img2{
    width: 700px;
    height: 300px;
    display: flex;
    padding-top: 30px;
    padding-left:50px;
}


.img1{
    width: 500px;
    height: 200px;
}
.img3{
    height:500px;
    width: 400px;
}
.prof{
    width: 500px;
    height: 200px;
}
.name{
    padding-top: 200px;
    padding-left: 100px;

}
.name1{
    padding-left:100px;
}